html {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

p {
  display: inline;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table, th, td {
    border: 1px solid #ddd;
}

td {
    text-align: center;
    position: relative;
    padding: 5px 10px;
}

th {
    padding: 8px;
}

td:before {
    content: none;
    position: absolute;
    top: 50%;
    left: 0%;
    border-bottom: 4px solid #F00;
    width: 100%;
}

td.strike:before {
    content: " ";
}

input {
    margin: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#title {
    background-color: #333;
    color: white;
}

.title {
    background-color: lightblue !important;
}
tr:nth-child(even) {
    background-color: #f8f8f8;
}

.red {
    background-color: red;
    font-size: 0px;
}

.found {
    background-color: yellow;
    font-weight: bolder;
}
